option_settings:

  aws:elasticbeanstalk:application:environment:
    LTI_KEY: "PASMADEUPKEY8123$"
    MONGO_URI: "mongodb+srv://ltijs-stage.w5pfd.mongodb.net/?retryWrites=true&w=majority"

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 50M; # Increases payload size if your app requires larger requests
